<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pigmnt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D33C2531A6B960F0050039F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D33C26B1A6B960F0050039F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D9A51E71A6A0A140077559E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D9A52001A6A0A140077559E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
